.mail {
  width: 100%;
  margin-top: 50px;
  background-color: #003b95;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}
.mailInputContainer > input {
  width: 350px;
  height: 30px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}
.mailInputContainer > button {
  width: 180px;
  height: 50px;
  background-color: #006ce4;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}
